body {
  margin: 0;
}

.App {
  font-family: Roboto, Verdana, sans-serif;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.app__scene {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-content: center;
  place-items: center;
  background-image: url("https://i.pinimg.com/474x/a9/93/ea/a993ea23d2d04c306f0c08521928356b.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
  padding: 20px;
}

@media (max-width: 520px) {
  .app__scene {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    grid-template-rows: 100px;
  }
}

.app__item {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  place-items: center;
  place-content: center;
  text-align: center;
  font-size: 32px;
  font-family: Roboto, Arial;
  font-weight: 700;
  margin: 5px;
  user-select: none;
  cursor: pointer;
  transform: rotate(10deg);
  box-shadow: 0 1px 0 #000;
}
